
@{
    ViewBag.Title = "VerificarSiSobrevive";
}
<h2>Verificar si sobrevive</h2>
<div class="jumbotron">
    <h1>ASP.NET MVC - Demo pasaje de datos</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>ViewBag</h2>
        <h3>Observar que no sobrevive a los request</h3>
        <p>
            Viewbag.numero:@ViewBag.numero
        </p>
         <p>
            Viewbag.Numero:@ViewBag.Numero

        </p>
        <p>
            El valor tomado de Request.QueryString:@ViewBag.Guardado
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
