
@{
    ViewBag.Title = "Index - Uso de ViewBag";
}

<h2>Index - Uso de ViewData - Observar que no es case sensitive</h2>
<p>Valor de ViewData["numero"]:@ViewData["numero"] </p>
<p>Valor de ViewData["Numero"]:@ViewData["Numero"]</p>
