@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">DEMO DE MVC - RAZOR </p>
</div>

<div class="row">
    <div class="col-md-4">
       
        <ul>
            <li><a class="btn btn-default" href="/Saludo/Saludar">01. Saludar</a></li>
            <li><a class="btn btn-default" href="/Condicional/SaludoCondicional">02. Saludar condicionalmente</a></li>
            <li><a class="btn btn-default" href="/Condicional/SaludoRepetitiva">03. Saludar repetidamente</a></li>
        </ul>
    </div>
   
</div>