@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC - Demo pasaje de datos</h1>
     
</div>

<div class="row">
    <div class="col-md-4">
        <h2Descripción</h2>
        <p>
            ASP.NET MVC permite varios mecanismos de pasaje de datos entre un método del controlador hacia la vista, entre distintos métodos de acción de un controlador,
        o de distintos controladores.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
               <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>