@model IEnumerable<Dominio.Models.Sorteo>


@{
    ViewBag.Title = "Realizar Sorteos";
}

<h2>Realizar Sorteos</h2>

<br />

<div>
    <h4>El Ganador del Sorteo es: _Datos Usuario Ganador_ </h4>
</div>
